<div style="width: 200px"><button (click)="gotoPreviousPage()">back</button></div>
<div style="display: flex;">
    <div *ngIf="isLoading">loading .....</div>
    <div style="width: 500px;display: flex; flex-direction: row;" *ngIf="!isLoading">
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <p>{{post?.title}}</p>
            </div>
            <div style="display: flex; align-items: flex-start; gap: 25px">
                <p style="text-align: left;">{{post?.user?.username}}</p>
                <div style="display: flex; flex-direction: column;">
                    <p >{{post?.body}}</p>
                    <div>
                        <button *ngIf="!showComments" (click)="showComments = true" style="background: none;color: blue;border: none;cursor: pointer;">
                            Comments &nbsp;{{comments.length}}
                        </button>
                    </div>
                    <div style="display: flex; flex-direction: column; gap:20px" *ngIf="showComments" >
                        <div>
                            <button (click)="showComments = false" style="background: none;color: blue;border: none;cursor: pointer;">
                                All Comment
                            </button>
                        </div>
                        <div *ngFor="let comment of comments" style="display: flex; gap: 10px; flex-direction: row;">
                            <div style="width: 200px;  white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">{{comment.email}}</div> 
                            <div style="width: 100%;">{{comment.body}}</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>