<div class="list-posts">
    <div *ngIf="isLoading">Loading....</div>
    <div *ngFor="let post of listPosts | paginate: { itemsPerPage: perPage, currentPage: page }"
        class="list-item-posts">
        <div class="post-name">{{post?.user?.username}}</div>
        <div>
            <div class="post-title">{{post?.title}}</div>
            <div style="margin-top: 20px;">
                
                <div>
                    <button (click)="openDetail(post.id)" 
                        style="background: none;color: blue;border: transparent;cursor: pointer; padding-left: 0px;">
                        Comments &nbsp;{{listCommentsByPostId[post.id]?.length}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="has-text-centered">
    <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>